/* Body */
body {
    background-color: #00425a;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Arial Narrow Bold", sans-serif;
}
body a {
    color: white;
}
/* Alert */
.alert {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.alert-success {
    background-color: green;
    color: white;
}

.alert-danger {
    background-color: red;
    color: white;
}
.alert-warning {
    background-color: #ff9800;
    color: #fff;
}

/* Table */
table.TableMantap {
    width: 100%;
    background-color: #999999;
    border-collapse: collapse;
    border-width: 3px;
    border-color: #66ff33;
    border-style: outset;
    color: #ffffff;
    width: 80%;
    margin: auto;
}
table.TableMantap td,
table.TableMantap th {
    border-width: 3px;
    border-color: #66ff33;
    border-style: outset;
    padding: 3px;
}
table.TableMantap thead {
    background-color: #003333;
}

/*  */
